@use 'scss-reset/reset';

body {

  font-family: Georgia;
  color: #333;

  h2 {
    font-size: clamp(18px, 3vw, 20px);
    font-weight: bold;
    font-style: italic;
    color: #333;
  }

  hr {
    margin: 10px auto;
    height: 1px;
    background-color: #bbb;
    border: none;
  }

  .container {
    background: #f5f5f5;
    border: solid #666;
    border-width: 8px 0 2px 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    a,
    a:visited {
      text-decoration: none;
    }

    .row {
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      .col-head {
        padding: 10px;

        &.left {
          flex: 2;
          display: flex;
          flex-direction: column;
        }

        &.right {
          flex: 1;
          display: flex;
          flex-direction: column;

          >a {
            color: #333;
          }

          .print {
            margin-top: 5px;
            background-color: #666;
            color: #f5f5f5;
            padding: 2px 4px;
            border-radius: 3px;
          }

          .lang {
            margin-top: 5px;

            svg {
              fill: #333;
            }
          }
        }

        >h1 {
          font-size: clamp(12px, 3.5vw, 24px);
          text-transform: uppercase;
          letter-spacing: 3px;
        }

        >h2 {
          margin-top: 10px;
          font-weight: normal;
          font-style: normal;
          text-transform: uppercase;
        }
      }

      .col-body {
        padding: 10px;
        flex-basis: 100%;

        >h2 {
          font-weight: normal;
        }

        &.left {
          flex: 2;
          display: flex;
          flex-direction: column;
        }

        &.right {
          flex: 4;
          display: flex;
          flex-direction: column;

          p {
            color: #444;
            line-height: 1.5;
            text-align: justify;
          }

          .skill {
            h3 {
              font-size: clamp(16px, 3vw, 20px);
              font-weight: bold;
              margin-bottom: 7px;
            }

            &:not(:first-child) {
              margin-top: 15px;
            }
          }
        }

        &.center {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-evenly;

          svg {
            fill: #666;
            transform: scale(2);
          }

          >a,
          div {
            margin: 15px 0;
          }
        }
      }

      .tech {
        color: #444;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: center;
        align-content: space-between;

        >div {
          flex-grow: 1;
          padding: 0 20px;
          border-bottom: 1px solid;
          border-color: rgba($color: #444, $alpha: 0.2);
          margin-bottom: 10px;
        }
      }

      .experience {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .job {
          display: flex;
          flex-wrap: wrap;

          h2 {
            flex-grow: 1;
            margin-bottom: 10px;
          }

          h3 {
            width: 100%;
            font-size: clamp(16px, 2vw, 20px);
            color: #777;
            margin-bottom: 5px;
          }

          &:not(:first-child) {
            border-top: 1px solid;
            border-color: rgba($color: #444, $alpha: 0.2);
            margin-top: 10px;
            padding-top: 15px;
          }
        }
      }

      .education {

        @media (min-width: 700px) {
          flex-direction: row !important;
        }


        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
          width: 60px;
        }

        h1 {
          font-weight: bold;
          font-size: large;
        }
      }

      .footer {
        a {
          color: #333;
        }
      }
    }
  }


}



@media (max-width: 900px) {
  .container {
    padding: 10px;

    .col-head,
    .col-body {
      flex-basis: 100%;
    }
  }
}

@media print {
  @page {
    size: Letter;
    margin: 15mm;
  }

  hr {
    page-break-after: avoid;
  }

  .page-break {
    page-break-before: always;
  }

  header,
  footer,
  nav,
  .no-print {
    display: none !important;
  }

  .tech {
    >div {
      border-bottom: 0;
      border-color: #fff;
    }
  }
}
